{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="col-sm-10 col-md-9">
        <h3>{{ product.name }}</h3>

        {% if product.image %}
        <img src="{{ MEDIA_URL }}{{ product.image }}" /> {% endif %}

        <div class="row">
            <div class="col-xs-9">
                <p>{{ product.description | linebreaksbr }}</p>
                <p><span class="boldtext"><strong>Brand:</strong></span> {{ product.brand }} </p>
                <p><span class="boldtext"><strong>Price:</strong></span> €{{ product.price }}</p>
                <p><span class="boldtext"><strong>Sku:</strong></span> {{ product.sku }} </p>
                <p><span class="boldtext"><strong>Stock:</strong></span> {{ product.stock }} </p>

                <br>
                <hr>
                <p>{{ product.review|truncatewords:30 }}</p>
                <p><span class="boldtext">Published on:</span> {{ product.review.published_date }} </p>
                <p><a href="#" class="btn btn-default">Read more</a></p>

                <a href="{% url 'home' %}" class="btn btn-default">Back to Product list</a>
                <a href="{% url 'write_review' product.id %}" class="btn btn-default">Add Review</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
